.swipebuttons{
    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    
}

.swipeButtons_repeat .MuiIconButton-root{
    background-color: white;
    

}